[Unit]
Description=qcontrold
Requires=dev-input-by\x2dpath-platform\x2dgpio\x2dkeys\x2devent.device
After=dev-input-by\x2dpath-platform\x2dgpio\x2dkeys\x2devent.device

[Service]
# qcontrol only works on some devices, so verify this system is supported.
ExecStartPre=/bin/grep -q 'Hardware[[:space:]]*: QNAP TS-\(109/TS-209\|119/TS-219\|409\|41x\)' /proc/cpuinfo
ExecStart=/usr/sbin/qcontrol -f
