[Unit]
Description=qcontrold
Requires=dev-input-by\x2dpath-platform\x2dgpio_keys\x2devent.device
After=dev-input-by\x2dpath-platform\x2dgpio_keys\x2devent.device
# If the config file is there, we assume qcontrol works on this machine.
ConditionPathExists=/etc/qcontrol.conf

[Service]
ExecStart=/usr/sbin/qcontrol -f

[Install]
WantedBy=multi-user.target
